.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 32px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 4px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background:linear-gradient(rgba(250,0,0,0.5),transparent);
  background-color: orange;
}

.inputBox {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background:linear-gradient(#8661b3,transparent);
  background-color: white;
}

.connectButton {
  cursor: pointer;
  margin-top: 32px;
  margin-bottom: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background-color: #8661b3;
}

.webBg{
  background-size: 'cover';
  background:linear-gradient(#6839A1,transparent);
  background-color: #6839A1;
  margin-top: 32px;
  margin-left: 32px;
  margin-right: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.whiteText{
  color: whitesmoke;
}

.normalText{
  color: purple;
  size: 8px;
}

.cardHeaderText{
  text-align: center;
  justify-content: center;
  align-items: center;
  color: black;
  size: 8px;
}

.card{
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  width: 400px;
  height: auto;
  position: relative;
  border-radius: 2px;
  background-color:#fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  text-align: left;
  margin: 20px;
  padding: 20px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}